FASTAPI__WORKERS_COUNT=1
FASTAPI__SERVE_PORT=8100
FASTAPI__SERVE_HOST="127.0.0.1"
FASTAPI__DOCS_URL="/docs"
FASTAPI__RELOAD=True
FASTAPI__PROJECT_NAME="🛠 Yoop Docs"
FASTAPI__OPENAPI_URL="/open.json"

AUTH__SECRET_KEY="secret"
AUTH__JWT_ALGORITHM="HS256"
AUTH__ACCESS_TOKEN_EXPIRES_IN="3600"
AUTH__REFRESH_TOKEN_EXPIRES_IN="86440"

REDIS__MASTER_HOST='redis'
REDIS__PORT=6379
#REDIS__PASSWORD=mystrongsecretpassword

POSTGRES_SQLALCHEMY__HOST="postgres"
POSTGRES_SQLALCHEMY__PORT="5432"
POSTGRES_SQLALCHEMY__USERNAME="postgres"
POSTGRES_SQLALCHEMY__PASSWORD="postgres"
POSTGRES_SQLALCHEMY__DATABASE="gate"
POSTGRES_SQLALCHEMY__POOL_SIZE="50"

SENTRY__IS_ENABLED=True
SENTRY__DSN=https://dc20bdf3b4f44ce7b67de7220cce307b@bug.fazelidev.ir/5

FILE__SECRET_KEY="secret"
